.titleBar{
        background-color:#000;
        display: block;
        color:#fff;
        padding-left: 16px;
}

.searchBar{
  font-size: 15px;
  width: 99%;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}